@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;400&display=swap');

body {
    font-family: 'Inter', arial;
    font-weight: 700;
    background-color: #f3f3f3;
}